.header {
    display: inline;
}

.header h1 {
    display: flex;
    justify-content: center;
}

/* Menu sticky */
.header .menu {
    position: sticky;
    top: 0;               /* stick to top of viewport */
    background: white;    /* prevents overlap */
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-bottom:10px;
}


.header .menu a {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.header .menu a:hover,
.header .menu a.active {
    text-decoration: underline;
}

.header .menu a:hover {}

body {
    font-family: "Comic Sans MS";
}

.card {
    flex: 1 1 280 px;
    max-width: 600px;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.content {
}

.content img {
    max-width: 100%;
    max-height: 100%;

}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reverse {
    flex-direction: row-reverse;
}

.content a:visited {
    color:blue;
}

